    /* Change Grid styles */

    .e-grid .e-headercell {
       background-color: #f0f0f0; /* Change header background color */
       color: #333; /* Change header text color */
   }

   .e-grid .e-rowcell {
       background-color: #fff; /* Change row background color */
       color: #222; /* Change row text color */
   }

   .e-grid .e-altrow {
       background-color: #f5f5f5; /* Change alternate row background color */
   }

	 .e-grid .e-rowcell.e-selectionbackground {
			 background-color: #f0f0f0; /* Change selected row background color */
	 }

     /* Change the background color of the grid */
    .e-grid {
        background-color: #fff;
    }

    /* Change Tab styles */

    /* Target the tab header */
    .e-tab .e-tab-header {
      background-color: #f0f0f0; /* Change the background color */
    }

    /* .e-tab {
        border: 5px solid #050505;
        bottom: black;
    } */
    /* Target the active tab header */
    .e-tab .e-tab-header .e-active {
      background-color: #5d6064; /* Change the active tab background color */
      color: white; /* Change the active tab text color */
    }

 .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text,
.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-icon {
    color: white !important;
}
    /* .e-tab {
    border: 5px solid rgb(173, 255, 47);
    } */

     .e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-wrap {
          background: rgb(85, 88, 90);
        }

        .e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-text,
        .e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-icon,
        .e-tab.e-fill
          .e-tab-header
          .e-toolbar-item.e-active
          .e-tab-wrap:hover
          .e-tab-text,
        .e-tab.e-fill
          .e-tab-header
          .e-toolbar-item.e-active
          .e-tab-wrap:hover
          .e-tab-icon {
          color: green;
        }
