    /* Change Grid styles */

.e-grid .e-leftfreeze.e-freezeleftborder {
    border-right-color: black;
}

.tree-control_wrapper {
  max-width: 500px;
  margin: auto;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.mytree.e-treeview .e-list-item.e-active > .e-text-content .e-list-text {
  line-height: 22px; /* Adjust it according to your requirement */
  color: green; /* Change selected text color */
}
.mytree.e-treeview .e-list-item.e-active > .e-fullrow {
  background-color: #D1D5DB; /* Change background color of selected node */
}

/* Change Tab styles */
.e-tab .e-tab-header .e-indicator {
    background: black;
}

.e-tab.e-fill .e-tab-header {
    border-bottom: 2px Solid #20b716;
}
.e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-wrap {
    background: #E5E7EB;
  }
  .e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-text,
  .e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-icon,
  .e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-wrap:hover .e-tab-text,
  .e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-wrap:hover .e-tab-icon {
    color: gray;
  }

 