@import "./styles/material.css";
/* @import url('https://cdn.syncfusion.com/ej2/23.1.43/material.css'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  text-align: center;
}

.app-header {
  padding: 20px;
  background-color: #f0f0f0;
}

.grid-container {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

.e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-wrap {
  background: gray;
}

.e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-text,
.e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-icon,
.e-tab.e-fill
  .e-tab-header
  .e-toolbar-item.e-active
  .e-tab-wrap:hover
  .e-tab-text,
.e-tab.e-fill
  .e-tab-header
  .e-toolbar-item.e-active
  .e-tab-wrap:hover
  .e-tab-icon {
  color: white;
}

.e-grid .e-leftfreeze.e-freezeleftborder {
    border-right-color: black;
}
    /* Change Tab styles */
.e-tab .e-tab-header .e-indicator {
    background: black;
}
